<html>
<head>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="/javascripts/sessionVariables.js"></script>
    <script type="text/javascript"
            src="https://www.google.com/jsapi?autoload={
            'modules':[{
              'name':'visualization',
              'version':'1',
              'packages':['corechart']
            }]
          }"></script>

    <script type="text/javascript">

        $( document ).ready(function() {
            var sim = getSessionSimulation();
            if (sim != undefined && sim != null && sim != 'null') {
                $('#stop').prop('disabled', false);
            }
            else {
                $('#stop').prop('disabled', true);
            }
        });

        function stopSimulation() {
            $.post('http://localhost:3000/stop');
            $('#stop').prop('disabled', true);
            setSessionSimulation(null);
        }

        google.setOnLoadCallback(drawChart);

        window.setInterval(function(){
            drawChart();
        }, 3000);

        function drawChart() {

            $.get("http://localhost:3000/data", function(reqData) {
                var array = [['Time', 'Consumption', 'Production']];
                array.push(["", 0, 0]);
                var obj = JSON.parse(reqData);
                if (obj == null) {
                    array.push(["", 0, 0]);
                    console.log("data is null");
                }
                else {
                    for (var i in obj) {
                        console.log(obj[i]);
                        var time = obj[i].time.time.hour + ':' + obj[i].time.time.minute;
                        array.push([time, obj[i].consumption, obj[i].production]);
                    }
                }

                var data = google.visualization.arrayToDataTable(array);

                var options = {
                    title: 'Smart Grid Consumption/Production Diagram',
                    curveType: 'function',
                    legend: {position: 'bottom'}
                };

                var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

                chart.draw(data, options);
            });
        }
    </script>
</head>
<body>
    <div class="row-fluid">
        <div class="col-sm-12">
            <div class="col-sm-2">
                <a href="http://localhost:3000/">
                    <button type="button" class="btn btn-primary">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        Back
                    </button>
                </a>
                <br /> <br />
                <button id="stop" onclick="stopSimulation();" type="button" class="btn btn-danger">
                    <span class="glyphicon glyphicon-stop" aria-hidden="true"></span>
                    Stop
                </button>
            </div>
            <div class="col-sm-10">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="http://localhost:3000/village/line-chart">Line Chart</a></li>
                    <li><a href="http://localhost:3000/village/charts">Column Chart</a></li>
                </ul>
                <div id="curve_chart" style="width: 90%; height: 90%"></div>
            </div>
        </div>
    </div>
</body>
</html>
