<html>
<head>
    <link href="/stylesheets/c3.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/d3.min.js" charset="utf-8"></script>
    <script src="/javascripts/c3.min.js"></script>

    <div class="container">
        <div class="row-fluid">
            <div class="col-sm-12 ac">
                <div class="col-sm-1" style="padding: 2%">
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#">VPP Statistics</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">SMG Info</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-11">
                    <h1>Energy sources - production (VPP)</h1>
                    <br /> <br />
                </div>
            </div>
            <div class="col-sm-12">
                <div class="col-sm-3">
                    <div class="solarpanel-picture" ></div>
                    <br /> <br />
                    <button class="btn btn-primary" type="button">
                        Solar <span class="badge">30%</span>
                    </button>
                </div>
                <div class="col-sm-3">
                    <div class="windturbine-picture"></div>
                    <br /> <br />
                    <button class="btn btn-primary" type="button">
                        Wind <span class="badge">40%</span>
                    </button>
                </div>
                <div class="col-sm-3">
                    <div class="biomass-picture"></div>
                    <br /> <br />
                    <button class="btn btn-primary" type="button">
                        Biomass <span class="badge">30%</span>
                    </button>
                </div>
                <div class="col-sm-3">
                    <div class="smgnode-picture"></div>
                    <br /> <br />
                    <button class="btn btn-primary" type="button">
                        SMG <span class="badge">30%</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>