<html>
<head>
    <link href="/stylesheets/c3.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/d3.min.js" charset="utf-8"></script>
    <script src="/javascripts/c3.min.js"></script>
    <script type="text/javascript" src="/javascripts/sessionVariables.js"></script>
</head>
<body>
<div class="row-fluid">
    <div class="col-sm-12">
        <div class="col-sm-2">
            <a href="<%= address %>/village">
                <button type="button" class="btn btn-primary">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    Back
                </button>
            </a>
            <div class="col-sm-12 ac" style="border-radius: 150px; border: 4px #0088CC solid; padding:5%; margin-top: 70%;">
                Hour:<p id="clock-h" style="color:#5cb85c; margin: 0px; font-size: 24px;"><b>Time</b></p>
            </div>
            <div class="col-sm-12 ac" style="border-radius: 150px; border: 4px #0088CC solid; padding:5%; margin-top: 5%;">
                Minute:<p id="clock-m" style="color:#5cb85c; margin: 0px; font-size: 24px;"><b>Time</b></p>
            </div>
            <div class="col-sm-12 ac" style="border-radius: 150px; border: 4px #0088CC solid; padding:5%; margin-top: 5%;">
                Second:<p id="clock-s" style="color:#5cb85c; margin: 0px; font-size: 24px;"><b>Time</b></p>
            </div>
        </div>
        <div class="col-sm-10 ac">
            <ul class="nav nav-tabs nav-justified">
                <li>
                    <button onclick="changeToAreaChart();" type="button" class="btn btn-primary">
                        <span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
                        Area chart
                    </button>
                </li>
                <li>
                    <button onclick="changeToLineChart();" type="button" class="btn btn-primary">
                        <span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
                        Line chart
                    </button>
                </li>
                <li>
                    <button onclick="changeToPieChart();" type="button" class="btn btn-primary">
                        <span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
                        Pie chart
                    </button>
                </li>
                <li>
                    <button onclick="changeToBarChart();" type="button" class="btn btn-primary">
                        <span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
                        Bar chart
                    </button>
                </li>
            </ul>
            <br /> <br />
            <div id="chart" style="height: 80%; width: 100%;"></div>
        </div>
    </div>
</div>

<img src="/images/fortiss.png" class="ad" alt="">

<script>

    var chart = c3.generate({
        bindto: '#chart',
        data: {
            columns: [
                ['Family Houses', []],
                ['Commercial Area', []],
                ['Agricultural Farm', []],
                ['Street Light', []],
                ['SMG', []]
            ],
            type: 'area-step'
        },
        axis: {
            y:{
                show: true,
                label: 'Power in kW'
            },
            x:{
                label: {
                    text: 'Village consumption',
                    position: 'outer-center',
                }
            }
        },
        grid: {
            x: {
                show: true
            },
            y: {
                show: true
            }
        },
        tooltip: {
            grouped: false // Default true
        }
    });

    window.setInterval(function(){
        drawChart();
    }, 3000);

    function changeToAreaChart() {
        chart.transform('area-step');
    }

    function changeToLineChart() {
        chart.transform('line');
    }

    function changeToBarChart() {
        chart.transform('bar');
    }

    function changeToPieChart() {
        chart.transform('pie');
    }

    function drawChart() {
        $.get('<%= address %>/data', function(reqData) {
            var array1 = ['Family Houses'];
            var array2 = ['Commercial Area'];
            var array3 = ['Agricultural Farm'];
            var array4 = ['Street Light'];
            var array5 = ['SMG'];
            var obj = JSON.parse(reqData);
            for (var i in obj) {
                array1.push(parseInt(obj[i].village.village.house));
                array2.push(parseInt(obj[i].village.village.commercial));
                array3.push(parseInt(obj[i].village.village.farm));
                array4.push(parseInt(obj[i].village.village.streetLight));
                array5.push(parseInt(obj[i].village.village.smgConsumption));
                var time = obj[i].time.time.hour + ':' + obj[i].time.time.minute;
            }
            chart.load({
                columns: [
                    array1,
                    array2,
                    array3,
                    array4,
                    array5
                ]
            });

            $.get('<%= address %>/data/simulation', function(data) {
                var time = data.currentTime;
                var currTimeH = data.currentTime.hour;
                var currTimeM = data.currentTime.minute;
                var currTimeS = data.currentTime.second;
                $("#clock-h").html(currTimeH);
                $("#clock-m").html(currTimeM);
                $("#clock-s").html(currTimeS);
            });
        });
    }
</script>
</body>
</html>