body {
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.ac {
  text-align: center;
}

.home-div {
  border: black solid 1px;
  padding: 5%;
  margin: 1%;
  background-color: rgba(255,255,255, 0.9);
  border-radius: 10px;
  color: black;
}

.home-picture {
  background: url("/../images/fortiss1.jpg") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 120px;
}

.bg {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.8;
  filter: alpha(opacity=80); /* For IE8 and earlier */
  width: 100%;
  height: 100%;
}

.ad {
  position: fixed;
  top: 80%;
  left: 0%;
  width: 20%;
  height: 18%;
}

.vpp-div {
  border: black solid 1px;
  padding: 5%;
  margin: 0%;
  background-color: rgba(255,255,255, 0.9);
  border-radius: 10px;
  color: black;
}