body {
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.ac {
  text-align: center;
}

.home-div {
  border: #d58512 solid 1px;
  padding: 10%;
  margin: 1%;
}

.home-picture {
  background: url("/../images/green-energy.jpg") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border-radius: 80px;
  width: 100%;
  height: 120px;
}

.home-picture:hover {
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0.4;
  filter: alpha(opacity=40);
}

.solarpanel-picture {
  background: url("/../images/solarpanel.png") no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height:100px;
  width:100px;
}

.windturbine-picture {
  background: url("/../images/windturbine.png") no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height:100px;
  width:100px;
}

.biomass-picture {
  background: url("/../images/biomass.png") no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height:100px;
  width:100px;
}

.smgnode-picture {
  background: url("/../images/smgnode.png") no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height:100px;
  width:100px;
}