<html>
<head>
    <link href="/stylesheets/c3.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/d3.min.js" charset="utf-8"></script>
    <script src="/javascripts/c3.min.js"></script>
    <script type="text/javascript" src="/javascripts/sessionVariables.js"></script>
</head>
<body>
<div class="row-fluid">
    <div class="col-sm-12">
        <div class="col-sm-2">
            <a href="<%= address %>/vpp">
                <button type="button" class="btn btn-primary">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    Back
                </button>
            </a>
        </div>
        <div class="col-sm-10 ac">
            <ul class="nav nav-tabs nav-justified">
                <li>
                    <button onclick="changeToPieChart();" type="button" class="btn btn-primary">
                        <span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
                        Energy Usage
                    </button>
                </li>
                <li>
                    <button onclick="changeToBarChart();" type="button" class="btn btn-primary">
                        <span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
                        Production / Usage
                    </button>
                </li>
            </ul>
            <br /> <br />
            <div id="chart" style="height: 80%; width: 100%;"></div>
        </div>
    </div>
</div>

<img src="/images/fortiss.png" class="ad" alt="">

<script>

    var chart = c3.generate({
        bindto: '#chart',
        data: {
            columns: [
                ['Solar Energy', []],
                ['Wind Energy', []],
                ['Biogas Energy', []]
            ],
            type: 'pie'
        },
        axis: {
            y:{
                show: true,
                label: 'Power in kW'
            },
            x:{
                label: {
                    text: 'Vpp production / Village usage',
                    position: 'outer-center',
                }
            }
        },
        grid: {
            x: {
                show: true
            },
            y: {
                show: true
            }
        },
        tooltip: {
            grouped: false // Default true
        }
    });

    window.setInterval(function(){
        drawChart();
    }, 3000);

    function changeToBarChart() {
        chart.groups([['Solar Energy', 'Wind Energy', 'Biogas Energy']]);
        chart.transform('bar');
    }

    function changeToPieChart() {
        chart.transform('pie');
    }

    function drawChart() {
        $.get("<%= address %>/data/vpp", function(data) {
            // Used production
            var array1 = ['Solar Energy'];
            var array2 = ['Wind Energy'];
            var array3 = ['Biogas Energy'];
            array1.push(parseInt(data.vppProduced.solar));
            array1.push(parseInt(data.vppUsed.solar));

            array2.push(parseInt(data.vppProduced.wind));
            array2.push(parseInt(data.vppUsed.wind));

            array3.push(parseInt(data.vppProduced.biogas));
            array3.push(parseInt(data.vppUsed.biogas));

            chart.load({
                columns: [
                    array1,
                    array2,
                    array3
                ]
            });
        });
    }
</script>
</body>
</html>