<html>
<head>
    <link href="/stylesheets/c3.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/d3.min.js" charset="utf-8"></script>
    <script src="/javascripts/c3.min.js"></script>
</head>
<body>
    <script>
        $( document ).ready(function() {

            $("#animation1").hide();
            $("#animation2").hide();
            $("#animation3").hide();

            window.setInterval(function(){
                updatePower();
            }, 1000);

            function updatePower() {
                $.get('http://localhost:3000/data/vpp', function (data) {
                    console.log(data);
                    var solar = data.solar;
                    var wind = data.wind;
                    var biogas = data.biogas;

                    var sum = 0;

                    if (solar != undefined && solar != null) {
                        sum = sum + solar;
                        $("#animation1").show();
                    } else {
                        $("#animation1").hide();
                    }

                    if (wind != undefined && wind != null) {
                        sum = sum + wind;
                        $("#animation2").show();
                    } else {
                        $("#animation2").hide();
                    }

                    if (biogas != undefined && biogas != null) {
                        sum = sum + biogas;
                        $("#animation3").show();
                    } else {
                        $("#animation3").hide();
                    }

                    if (solar != undefined) {
                        var solarPer = Math.round((solar * 100) / sum);
                        $("#solar").html(solarPer + '%');
                    } else {
                        $("#solar").html(0 + '%');
                    }

                    if (wind != undefined) {
                        var windPer = Math.round((wind * 100) / sum);
                        $("#wind").html(windPer + '%');
                    } else {
                        $("#wind").html(0 + '%');
                    }

                    if (biogas != undefined) {
                        var biogasPer = Math.round((biogas * 100) / sum);
                        $("#biogas").html(biogasPer + '%');
                    } else {
                        $("#biogas").html(0 + '%');
                    }
                });
            }
        });
    </script>
    <img src="images/smart-city.jpg" class="bg" alt="">
    <div class="container">
        <div class="row-fluid">
            <div class="col-sm-12 ac">
                <div class="col-sm-4">
                    <div class="home-div">
                        <img src="/images/solarpanel.png" style="width: 100%;" />
                        <br /> <br /> <br />
                        <a href="http://localhost:3000/vpp/charts">
                            <button class="btn btn-primary" type="button">
                                Solar Energy &nbsp;<span class="badge" id="solar">0%</span>
                            </button>
                        </a>
                    </div>
                    <br />
                    <span id="animation1">
                        <div class="animation"></div>
                        <div class="animation"></div>
                        <div class="animation"></div>
                        <div class="animation"></div>
                        <div class="animation"></div>
                    </span>
                </div>
                <div class="col-sm-4">
                    <div class="home-div">
                        <img src="/images/windturbine.png" style="width: 100%;" />
                        <br /> <br /> <br />
                        <a href="http://localhost:3000/vpp/charts">
                            <button class="btn btn-primary" type="button">
                                Wind Energy &nbsp;<span class="badge" id="wind">0%</span>
                            </button>
                        </a>
                    </div>
                    <br />
                    <span id="animation2">
                        <div class="animation"></div>
                        <div class="animation"></div>
                        <div class="animation"></div>
                        <div class="animation"></div>
                        <div class="animation"></div>
                    </span>
                </div>
                <div class="col-sm-4">
                    <div class="home-div">
                        <img src="/images/biomass.png" style="width: 100%;" />
                        <br /> <br /> <br />
                        <a href="http://localhost:3000/vpp/charts">
                            <button class="btn btn-primary" type="button">
                                Biogas Energy &nbsp;<span class="badge" id="biogas">0%</span>
                            </button>
                        </a>
                    </div>
                    <br />
                    <span id="animation3">
                        <div class="animation"></div>
                        <div class="animation"></div>
                        <div class="animation"></div>
                        <div class="animation"></div>
                        <div class="animation"></div>
                    </span>
                </div>
            </div>
        </div>
    </div>
</body>
</html>